input#descripcion{
    width: 400px;
    height: 40px;
    padding-left: 10px;
}

button#tareaBtn{
    width: 100px;
    height: 45px;
    background-color: cadetblue;
    color: white;
}

#contenedorGeneral{

display:flex;
flex-direction: row;

}
#title2{

    margin-left: 39%;
    margin-top: -380px;
 }

.ToDoList{

    margin-top: 1%;
    margin-bottom: 0em;
    background-color: thistle;
    width: 16em;
    height: 8em;
    padding: 1em; 
    position: relative;
    
}

.delateBtn{
 
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: tomato;
}

.pasarBtn{

    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: royalblue;
}

.volverBtn{

    position: absolute;
    left: 10px;
    bottom: 10px;
   background-color: sandybrown;
}


.DoingList{

    margin-top: 20%;
    margin-bottom: 20em;
    background-color: thistle;
    width: 16em;
    height: 8em;
    padding: 1em; 
    position: relative;
    
}

.DoneList{

    margin-top: 20%;
    margin-bottom: 20em;
    background-color: thistle;
    width: 16em;
    height: 8em;
    padding: 1em; 
    position: relative;
    
}

#toDoContainer{
width: 18em;
height: 100em;
margin-right: 10%;

}

#doingContainer{
    width: 18em;
    height: 100em;
    margin-right: 10%;
    
    }

    #doneContainer{
        width: 18em;
        height: 100em;
        margin-right: 10%;
        
        }