input#descripcion{
    width: 400px;
    height: 40px;
    padding-left: 10px;
}

button#tareaBtn{
    width: 100px;
    height: 45px;
    background-color: cadetblue;
    color: white;
}

#title2{

    margin-left: 39%;
    margin-top: -380px;
 }

.ToDoList{

    margin-top: 1%;
    margin-bottom: 0em;
    background-color: thistle;
    width: 16em;
    height: 8em;
    padding: 1em; 
    position: relative;
}

.delateBtn{
 
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: tomato;
}

.pasarBtn{

    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: royalblue;
}


.DoingList{

    margin-top: 20%;
    margin-bottom: 20em;
    background-color: thistle;
    width: 16em;
    height: 8em;
    padding: 1em; 
    position: relative;
}